@model List<aspnetmvc002.Models.Pessoa>

    @{
    ViewData["Title"] = "Home Page";
    }
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <div id="myChart"></div>
        <div>
            <ul class="list-group">
                @foreach (var item in Model)
                {
                <li class="list-group-item">
                    <p>@item.Nome - @item.Idade - @item.UF</p>
                    <p>@item.Id</p>
                    @using (Html.BeginForm("ApagarPessoa", "Home"))
                    {
                        <input type="hidden" name="Id" value="@item.Id" />
                        <input type="submit" value="Apagar" />
                    }
                </li>
                }
            </ul>
        </div>
    </div>
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script type="text/javascript">
        let arrayPessoas = @Html.Raw(Json.Serialize(
            (Model).Select(user => new
                {
                    userIdade = user.Idade,
                    userId = user.Nome,
                    userUF = user.UF
                })
        ));
        console.log(arrayPessoas);
        let x = [];
        let y = [];

        for (let index = 0; index < arrayPessoas.length; index++) {
            const element = arrayPessoas[index];
            x.push(element.userId);
            y.push(element.userIdade);
        }
        
        var myConfig = {
            type: "bar",
            plotarea: {
                adjustLayout: true
            },
            scaleX: {
                labels: x
            },
            series: [
                {
                    values: y
                }
            ]
        };

        zingchart.render({
            id: 'myChart',
            data: myConfig
        });

    </script>